*{box-sizing: border-box;}

body{
    margin: 0 auto;
    background-color: #f8f9fa;
    line-height: 1.5;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.textcenter{
    padding: 3rem 0;
}

main {
    display: block;
}

.logo{
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
     display: block;
}

h1{
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    font-family: sans-serif;
}

p{
    font-size: 1.24rem;
    font-weight: 500;
    text-align: center;
    font-family: sans-serif;
}
.rowg-3{
    display: flex;

    flex-wrap: wrap;

    margin: 0 auto;
}


.yourcard1{
    max-width: 100%;
    padding-right:  8px;
    padding-left:  8px;
    margin-top:10px;
}

h4{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.yourcard{
    color: #6c757d;
}
.tree{
background-color: #6c757d;
border-radius: 50rem;
display: inline-block;
padding: .35em .65em;
font-size: .75em;
font-weight: 700;
line-height: 1;
color: #fff;
}

.ulyourcard{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

li{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: .5rem 1rem;
    text-decoration: none;
    border: 1px solid rgba(0,0,0, .125);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    line-height: 1.25;
    background-color: #fff;
}

div{
    display: block;
    line-height: 1.25;
}

h6{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.smalltext{
    color: #6c757d;
    font-size: .875rem;
}


.promocode{
    border-top-width: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border: 1px solid rgb(0,0,0, .125);
}

.divpromo{
    color: #198754;
}

.promoh{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}

.examplecode{
    font-size: .875rem;
}