*{box-sizing: border-box;}

body{
    margin: 0 auto;
    background-color: #f8f9fa;
    line-height: 1.5;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.textcenter{
    padding: 3rem 0;
}

main {
    display: block;
}